*{
    margin: 0;
    padding: 0;

}

body{
    background: #183059;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    flex-direction: column;

    border: 1px solid red;
}
.box_section{
    display: flex;
    flex-direction: row;
}
.timer_box{
    width: 170px;
    border-radius: 10px;
    height: 150px;
    background: #000;
    margin-right: 20px;
    text-align: center;
    box-shadow: 2px 2px 2px 0px  rgb(197, 197, 197);


}
#day{
    background: #EF2F3C;
    color: #183059;

}
.heading_text{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 10px;
}
.heading_h4{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 300;
    margin-bottom: 10px;

}
.digit{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 55px;
    width: 100%;
    display: inline-block;
    height: 60px;
    line-height: 50px;
    margin-top: 36px;
}
.text{
    font-family: 'Roboto', sans-serif;
    color: white;
}
#minute{
    background: #383CC1;
    color: white;
}
#hour{
    background: #23C4ED;
    color: white;
}
#second{
    background: #F4BE2C;
    color: #183059;

}
.s{
    color: #183059;
    font-weight: bold;

}